/**
 * Author: Chooin
 */
 *{
 	margin: 0;
 	padding: 0;
 }
 body{
 	padding: 100px;
 }
 ul,
 li{
 	list-style: none;
 }

.slider{
	height: 559px;
	width: 900px;
	overflow: hidden;
	.slider-main{
		float: left;
		overflow: hidden;
		width: 745px;
		height: 559px;
		img{
			width: 745px;
			height: 559px;
		}
	}
	.slider-nav{
		float: right;
		position: relative;
		overflow: hidden;
		width: 150px;
		height: 559px;
		b{
			background: rgba(0, 0, 0, .6);
			width: 100%;
			height: 30px;
			display: block;
			position: absolute;
			cursor: pointer;
			left: 0;
			z-index: 11;
			&.up{
				top: 0;
			}
			&.down{
				bottom: 0;
			}
		}
		ul{
			width: 150px;
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			li{
				margin-bottom: 5px;
				position: relative;
				cursor: pointer;
				width: 150px;
				height: 112px;
				background: #f0f0f0;
				img{
					width: 150px;
					height: 112px;
				}
				.cover{
					background: rgba(0, 0, 0, .4);
					position: absolute;
					left: 0;
					top: 0;
					width: 150px;;
					height: 112px;
					z-index: 1;
				}
				&.current{
					.cover{
						background: rgba(0, 0, 0, 0);
						border: 4px solid #49bff5;
						width: 142px;
						height: 104px;
					}
				}
			}
		}
	}
}